<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>video-streaming-tools</title>
    <style type="text/css">

    </style>
</head>
<body>

    <h2>视频上传</h2>
    <p>上传视频名称不能为中文</p>
    <p>单视频上传支持格式：mp4、avi、mov、wmv、flv、asx、asf、mpg、3gp</p>
    <p>支持zip压缩包格式上传</p>
    <div>
        <form>
            <p>
                文件：<input type="file" class="file"/>
                是否覆盖重名视频：
                <select class="cover">
                    <option selected="selected" value="1">是</option>
                    <option value="2">否</option>
                </select>
            </p>
            <p>
                <input type="button"  style="width: 80px" class="upload" value="上传"/>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" class="clearAllVideos" value="清除所有上传视频"/>
            </p>
            <div class="uploadSchedule" style='color: green'>
                <div>
                    <span class="schedule"></span>
                </div>
            </div>
            <div class="result">

            </div>
        </form>
    </div>

    <hr/>
    <h2>视频源转流</h2>
    <p>点击转流会将上传的所有视频源进行转流</p>
    <div>
        <input type="button" class="bypassFlow" value="转流"/>
    </div>
    <div class="message">
        <div class="success">
            <dl>
                <dt style="font-weight: bold">转流成功：</dt>
            </dl>
        </div>
        <div class="failed">
            <dl>
                <dt style="font-weight: bold">转流失败：</dt>
            </dl>
        </div>
    </div>
    <hr/>

    <script type="text/javascript" th:src="@{/jquery.min.js}"></script>
    <script>
        $(function () {
            $(".message").hide();
            $(".bypassFlow").click(function () {
                $(".message dl dd").remove();
                $(".failed dl dd").remove();
                $.ajax({
                    url: "/rtsp-server/diversion",
                    type: "GET",
                    dataType: "json",
                    success: function (result) {
                        var data = result.data;
                        if (result.errorCode === "0"){
                            let dd = "";
                            $.each(data.success, function (i, obj) {
                                dd += "<dd>"+obj.rtspAddress+"</dd>";
                            })
                            $(".success dl").append(dd);
                            dd = "";
                            $.each(data.failed, function (i, obj) {
                                dd += "<dd>"+obj.videoName+"&nbsp&nbsp&nbsp&nbsp原因:"+obj.errorMsg;
                                if (obj.detail !== ""){
                                    dd += "&nbsp&nbsp&nbsp&nbsp详情:" + obj.detail;
                                }
                                dd+= "</dd>";
                            })
                            $(".failed dl").append(dd);
                            $(".message").show();
                        } else{
                            alert("转流失败:" + result.errorMsg);
                        }
                    }
                })
            })
            var scheduleId ;
            var interval;

            $(".upload").click(function () {
                var thisObj = $(this);
                $(".result").html("");
                var file = $(".file").val();
                if (file === ""){
                    alert("请选择上传的文件");
                    return false;
                }
                let size = $(".file")[0].files[0].size;
                if (size > 5368709120){
                    alert("上传文件不能超过5GB")
                    return false;
                }
                let val = $(".cover").val();
                let cover = true;
                if (val !== "1"){
                    cover = false;
                }
                let fileName = file.substring(file.lastIndexOf(".") + 1).toLowerCase();
                let type = 1;
                if(fileName === "zip"){
                    type = 2;
                }
                thisObj.attr("disabled", true);

                scheduleId = uuid();
                $(".uploadSchedule").show();
                $(".schedule").html("上传中，请耐心等待！");
                var formData = new FormData();
                formData.append("file", $(".file")[0].files[0]);
                formData.append("id", scheduleId);
                formData.append("type", type);
                formData.append("cover", cover);
                $.ajax({
                    url: "/video/upload",
                    type: "POST",
                    dataType: "json",
                    data: formData,
                    async: true,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if(result.errorCode === "0"){
                            interval = setInterval(schedule, 500);
                        }else{
                            alert("上传失败:" + result.errorMsg)
                            thisObj.attr("disabled", false);
                        }
                    }
                })
            });

            $(".uploadSchedule").hide();
            function schedule(){
                $(".uploadSchedule").show();
                $.ajax({
                    url: "/video/upload/schedule/" + scheduleId,
                    type: "GET",
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if(result.errorCode === "0"){
                            $(".result").html("");
                            let data = result.data;
                            let num = ((data.uploadByteSize / data.totalByteSize) * 100).toFixed(1);
                            $(".schedule").html("上传进度： "+ num + "%");

                            let count = data.success + data.failed;
                            if (count === data.totalCount){
                                if (data.success !== undefined){
                                    var success = "<p style='color: green'>成功上传" + data.success + "个视频</p>";
                                    $(".result").append(success);
                                }
                                if (data.failed !== undefined && data.failed !== 0){
                                    var failed = "<dl style='color: red'><dt>上传失败" + data.failed + "个视频</dt>";
                                    $.each(data.failedVos, function (i, obj) {
                                        failed += "<dd>"+ obj.videoName + "失败原因：" + obj.message +"</dd>";
                                    })
                                    failed +="</dl>";
                                    $(".result").append(failed);
                                }
                                $(".upload").attr("disabled", false);
                                clearInterval(interval);
                            }
                        }else{
                            $(".result").html("");
                            $(".schedule").html('');
                            console.log("获取上传进度失败")
                        }
                    }
                })
            }

            function uuid() {
                var s = [];
                var hexDigits = "0123456789abcdef";
                for (var i = 0; i < 36; i++) {
                    s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
                }
                s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
                s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
                s[8] = s[13] = s[18] = s[23] = "-";

                return s.join("");
            }

            $(".clearAllVideos").click(function () {
                if (confirm("确定清除所有上传视频吗？")){
                    $.ajax({
                        url: "/video/clear",
                        type: "DELETE",
                        dataType: "json",
                        success: function (result) {
                            if(result.errorCode === "0"){
                                $(".result").html("");
                                $(".uploadSchedule").hide();
                                $(".schedule").html("");
                                alert("清理成功");
                            }else{
                                alert("清理失败:" + result.errorMsg)
                            }
                        }
                    })
                }
            })
        })
    </script>
</body>
</html>